wwwroot/* linguist-vendored
assets/* linguist-documentation
scripts/* linguist-vendored

*.cs linguist-language=C#
*.sql linguist-language=SQL
# Hide anothers
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
